vllm
transformers
peft
datasets
torch
fastapi
uvicorn
requests
wheel 
packaging 
ninja
flash-attn
# pip install flash-attn --no-build-isolation
annotated-doc
annotated-types
anyio
certifi
charset-normalizer
click
exceptiongroup
fastapi
h11
idna
pydantic
pydantic_core
sniffio
starlette
typing-inspection
typing_extensions
urllib3
uvicorn